#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* Isi minimal biar valid; matrix-mu tetap dipakai */
            bindings = <&kp A>;

            sensors {
                compatible = "zmk,sensors";
                sensor-0 = <&encoder1>;
                sensor-1 = <&encoder2>;

                sensor-0-cw  = <&kp C_VOL_UP>;
                sensor-0-ccw = <&kp C_VOL_DOWN>;
                sensor-1-cw  = <&kp PG_UP>;
                sensor-1-ccw = <&kp PG_DN>;
            };
        };
    };
};
