/ {
    chosen {
        zephyr,display = &oled;
    };
};

&i2c0 {
    status          = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0       = <&i2c0_default>;
    pinctrl-names   = "default";

    oled: ssd1306@3c {
        compatible      = "solomon,ssd1306fb-i2c";
        reg             = <0x3c>;        /* Ganti ke <0x3d> kalau modulmu alamatnya 0x3D */
        label           = "OLED0";
        status          = "okay";
        width           = <128>;
        height          = <32>;

        /* Beberapa modul SSD1306 128×32 butuh dua properti ini agar buffer tampil */
        segment-remap;
        com-invdir;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <
                /* SDA = P0.17 */
                NRF_PSEL(TWIM_SDA, 0, 17)
                /* SCL = P0.20 */
                NRF_PSEL(TWIM_SCL, 0, 20)
            >;
        };
    };
};
