#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 5x10 = 50 entri, pakai &trans semua agar valid */
            bindings = <
                &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
            >;

            sensors {
                compatible = "zmk,sensors";

                /* Harus persis sama dengan label di .overlay */
                sensor-0 = <&encoder1>;
                sensor-1 = <&encoder2>;

                /* Pakai keycode yang valid di ZMK */
                sensor-0-cw  = <&kp C_VOL_UP>;
                sensor-0-ccw = <&kp C_VOL_DOWN>;
                sensor-1-cw  = <&kp PG_UP>;
                sensor-1-ccw = <&kp PG_DN>;
            };
        };
    };
};
