/ {
    model = "BT65 V1 Custom Keyboard";
    compatible = "zmk,bt65_v1", "nordic,nrf52840-qiaa";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,display = &oled;
    };
};

/* Aktifkan GPIO */
&gpio0 {
    status = "okay";
};
&gpio1 {
    status = "okay";
};

/* I2C0 untuk OLED SSD1306 */
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb-i2c";
        reg = <0x3c>;
        label = "OLED0";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        // reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; // opsional, jika OLED punya pin reset
    };
}

/* Pinctrl I2C0: SDA = P1.00, SCL = P0.11 */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 0)>, <NRF_PSEL(TWIM_SCL, 0, 11)>;
        };
    };
};

/* Matikan peripheral yang tidak dipakai */
&nfct    { status = "disabled"; };
&spi0    { status = "disabled"; };
&spi1    { status = "disabled"; };
&spi2    { status = "disabled"; };

&uart0   { status = "disabled"; };
&uart1   { status = "disabled"; };
