#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp A>;  // isi dummy 1 tombol, tidak apa

            sensors {
                compatible = "zmk,sensors";

                // Pastikan label ini sama dengan di .overlay kamu
                sensor-0 = <&encoder1>;
                sensor-1 = <&encoder2>;

                // Keycode valid:
                sensor-0-cw  = <&kp C_VOL_UP>;
                sensor-0-ccw = <&kp C_VOL_DOWN>;
                sensor-1-cw  = <&kp PG_UP>;
                sensor-1-ccw = <&kp PG_DN>;
            };
        };
    };
};
