
/ {
    aliases {
        row0 = &gpio0 8;   
        row1 = &gpio1 17;  
        row2 = &gpio1 11;  
        row3 = &gpio1 6;   
        row4 = &gpio0 20;  

        col0 = &gpio1 4;   
        col1 = &gpio0 8;   
        col2 = &gpio0 24;  
        col3 = &gpio0 22;  
        col4 = &gpio0 29;  
        col5 = &gpio1 13;  
        col6 = &gpio0 2;   
        col7 = &gpio1 15;  C1
        col8 = &gpio0 9;   
        col9 = &gpio0 10;  
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};
